<h1><%= @post.title %></h1><br>
<p> by: <%= @author.email %><br>
<p><%= @post.text %></p>

<% @comments.each do |comment| %>
	<p><%= comment.text %></p>
	<p><%= comment.print_author_name %></p>
<% end %>
